 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110772251-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110772251-1');
</script>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Portfolio: Bipin Pillai</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<!-- Plugins CSS -->
<script src="https://use.fontawesome.com/bb8ee9e2e7.js"></script>
    
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js">
    </script>
<script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js">
    </script>
</head>

<body>
<div class="container">

<div ng-app="myApp">

<!-- start header -->
<!-- div id="topbg">&nbsp;</div-->
<div id="header">
	<h1>Porfolio: Bipin Pillai</h1>
	<p></p>
</div>
<div id="page">
<div class="bgtop">
<div class="bgbtm">
<div  class="col-lg-4">
<div id="sidebar">
					<ul>
						<li>
							<h2><i class="fa fa-diamond"></i> Projects</h2>
							<ul>
								<div ng-controller="myCtrl">
                                                                <li> <button ng-click="myFunc5()" ng-class="{'setbg': count5 == 1}"  ng-model="myValue5" />Data matching related to credit card applications - Verifier</li>
                                                                <li> <button ng-click="myFunc6()" ng-class="{'setbg': count6 == 1}"  ng-model="myValue6" />Statistical analysis for client reports - AccessibilityOz</li>
								 <li> <button ng-click="myFunc7()" ng-class="{'setbg': count7 == 1}"  ng-model="myValue7" />Build your resume in R!</li>                                                                
 <li> <button ng-click="myFunc5()" ng-class="{'setbg': count5 == 1}" ng-model="myValue5" />Analysis of customer and employee data-iSelect</li>
<li> <button ng-click="myFunc()" ng-class="{'setbg': count == 1}" ng-model="myValue" />Machine learning for speech therapy</li>
								<li><button ng-click="myFunc1()" ng-class="{'setbg': count1 == 1}" ng-model="myValue1" />Energy consumption of data mining</li>
								<li><button ng-click="myFunc2()" ng-class="{'setbg': count2 == 1}" ng-model="myValue2" />Analysis of social media sentiment</li>
								<li><button ng-click="myFunc3()" ng-class="{'setbg': count3 == 1}" ng-model="myValue3" "/>Portfolio using HTML, Bootstrap and AngularJS</li>
</div>
							</ul>
						</li>
                                       </ul>
</div>
</div>

<div class="col-lg-8">
<div id="content">
<div class="post">
<h1 class="title"><i class="fa fa-user"></i> About Me </h1>
<p class="byline"></p>
<div class="entry">
							<p> <strong><img src="images/my_pic.jpg" alt="" class="left" />I</strong> have experience of more than ten years performing quantitative and qualitative analysis in a range of projects in areas as diverse as health, e-commerce and telecommuncations. I am currently working as a technical analyst on the TransVoices project where I am implementing automation of voice training using machine learning. I have previously worked with AccessibilityOz on data related to web accessibility errors and with iSelect on customer as well as employee data. I am interested in challenging projects that utilize my quantitative as well qualitative analytical skills and knowledge in programming languages such as R, Python, SAS and SQL.  </p>
</div>
</div>
<div class="post">
						<h2 class="title"><i class="fa fa-briefcase"></i> My Projects</h2>
						<p class="byline"></p>
						<div class="entry">
							<p>A list of projects that I have recently worked on is available on the 'Projects' bar.
							Click on the project to view/hide  details. </p>
						</div>
						
	</div>			


<div class="post" ng-show="count5">
				<h2 class="title"><i class="fa fa-eye"></i> Data matching related to credit card applications - Verifier </h2>
                         <p class="byline"></p>
<div class="entry">
			<p>Verifier performs income verification for credit card applications by matching applicant income information
with databases containing income details such as superannuation databases. As part of this process, an HTML
dashboard, constructed using R Markdown, with statistical analysis of the number of matching applicants and
income matching is also generated. I have performed the following tasks:
<ul>
<li>
Demonstrated that the use of fuzzy string matching (written using R) can enhance data matching (with
the database under consideration) from 13% to 21% of applications.
</li>
<li>
Data supplied to the dashboard consists of files with varying number of input fields and with information
such as dates formatted in a varying fashion. Some of the rows may also contain incorrect data. Using R,
I have preprocessed the data and ensured that dashboard can be generated every week irrespective of
the nature of the data provided.
</li>
<li>Using a combination of R, HTML and JavaScript, I have added interactive components such as radio
buttons to record dashboard user options, comment boxes etc. to the R Markdown dashboard.
</li>
</ul>	
</p>		
</div>


</div>	





<div class="post" ng-show="count6">
				<h2 class="title"><i class="fa fa-eye"></i> Statistical​ ​analysis​ ​for​ ​client​ ​reports - AccessibilityOz </h2>
                         <p class="byline"></p>
<div class="entry">
			<p>This project was carried out at AccessibilityOz. I am unable to provide sample results due to intellectual property issues. Using R, mySQL, HTML and Bootstrap, I developed a program that performs  statistical analysis of accessibility related errors detected across the websites of all the  community colleges and programs under the California Community Colleges System (CCCS). I have created R functions that can interface with Bootstrap libraries. This program uses these libraries to convert the results into accessible and responsive web pages that can be viewed with ease across desktops and a range of mobile devices. The results are illustrated using pie charts, bar charts and histograms.						
</div>


</div>	
<div class="post" ng-show="count7">
				<h2 class="title"><i class="fa fa-eye"></i>Build your resume in R!</h2>
                         <p class="byline"></p>
<div class="entry">
			<p>In this personal project, I created R functions that interact with HTML, Twitter Bootstrap framework and CSS to build a responsive HTML resume that scales to the size of the display screen. Note existing R libraries do not allow the creation of responsive HTML pages. The files for building the resume are available at  <a href="https://github.com/pillsbip/Rresume">Rresume on my Github page</a>. Also check out the <a href="https://pillsbip.github.io/Rresume">example resume created in R</a>. Feel free to download the files from Github and build your own resume in R!
</div>


</div>										







<div class="post" ng-show="count5">
				<h2 class="title"><i class="fa fa-eye"></i> Analysis of customer and employee data - iSelect</h2>
                         <p class="byline"></p>
<div class="entry">
			<p>Before AccessibilityOz, I was working at iSelect-Analytics and Data Services Division.
			My project involved analysis of customer and employee data.
			I am unable to provide sample results as they are iSelect intellectual property.
			I have completed the following tasks:
<ul>
<li> 
I have developed a software package for predicting probability of lead-to-sales conversion,
based on customer response to the questions on the revamped online comparison form for iSelect broadband products.
By utilizing information related to postcodes and email domains,
I was able to achieve the same predictive efficiency as the previous model, 
despite access to only 10% of data for the training set compared to the previous model.
</li>
<li>
I have developed a software package for skills-based routing (SBR) of customer calls to agents. 
This software package clusters agents based on statistical comparison of their conversion performance. 
In case of inbound calls, the algorithm needs to choose the right agent based on customer response to three or
four questions. My algorithm has been shown to lead to an increase in lead-to-sales conversion by 20%.
Both packages above have been implemented using R and T-SQL.
</li>
<li>
I have built a model for predicting time-dependent propensity of leads-to-sales conversion using Python, 
Tensor Flow and T-SQL. I was able to demonstrate an increase in predictive capacity compared to the model 
that uses time-independent propensity (auc increase from 0.63 to 0.65).
</li>
<li>
I have performed a statistical comparison of agent performance (using R, with respect to lead-to-sales conversion)
as a result of two different training programs and has demonstrated that there is no significant difference in 
agent performance, based on a 95% confidence interval.
</li>
<li>
 iSelect moved to Salesforce customer resource management (CRM) which stores information in
 JSON format . I have written T-SQL code so as to interface with Salesforce CRM and extract information for 
 reporting purposes. The reports are prepared as Tableau dashboards.
 </li>
</ul>
 </p>

						</div>


</div>	








<div class="post" ng-show="count">
				<h2 class="title"><i class="fa fa-eye"></i> Machine learning for speech therapy</h2>
                         <p class="byline"></p>
<div class="entry">
			<p>In this project, I investigate the use of machine learning for speech therapy. 
			I am currently working on this project in collaboration with Dr. Ken Pang from Gender Service Division of
			Royal Children's Hospital. The initial application deals with assigning a score to a person's voice that 
			rates its masculinity. This rating is generated by comparison with a data set of male and female voices.
			The comparison is based on acoustic parameters generated using signal processing.
			We have used variable reduction techniques to shortlist relevant acoustic parameters.
			This project began as a HealthHack competition. Some of the files used for implementing this project are available on <a href="https://github.com/pillsbip/pillsbip.github.io/tree/master/transvoices">github-transvoices</a>. This project involves use of R for implementing machine learning. Node.JS and AngularJS are being used for building the web interface for accessing the voice files of the person undergoing speech therapy. The figure below provides the confusion matrix for a set of 950 male and female voices for two of the machine learning algorithms being used. The results show that the algorithms being used are able to provide predictions with high accuracy.</p>
<center><img src="images/Gender_Prediction.png" alt="" align="middle" /></center>
						</div>


</div>	

<div class="post" ng-show="count1">
				<h2 class="title"><i class="fa fa-eye"></i> Energy consumption of data mining</h2>
                         <p class="byline"></p>
<div class="entry">
			<p>I have created a ​<a href="http://dataminingenergy.blogspot.com.au​"> blog on energy consumption of data mining algorithms </a>. This blog was the result of the work that I carried out at Centre for Energy-Efficient Telecommunications (CEET).  I investigated energy consumption of supervised
(regression, forecasting etc) and unsupervised (clustering, correlation etc) machine learning algorithms and platforms for their implementation. This project involved use of R as well as SAS Studio for scripting the statistical analysis algorithms. SQL was used for
database management, including accessing the data for processing. For example, I have shown that SAS University Edition consumes more energy than R for algorithm implementation (as shown in the illustrative figure below corresponding to box plot generation). This is due to the fact that SAS University Edition is implemented as a virtual machine, leading to energy overheads associated with virtualization. </p>
<center><img src="images/SAS_vs_R_energy.png" alt="" align="middle" /></center>
</div>


</div>	
<div class="post" ng-show="count2">
				<h2 class="title"><i class="fa fa-eye"></i> Analysis of social media sentiment</h2>
                         <p class="byline"></p>
<div class="entry">
			<p>This is a personal interest project I have worked on after participation in the kaggle competition (featuring text mining) organized by Data Science Melbourne in April 2016.I have built software in R (based on twitteR package and RTextTools package) that downloads tweets from Twitter containing a particular phrase and then evaluates the sentiment associated with that phrase. For example, the plot below corresponds to the sentiment on Twitter corresponding to the phrase 'negative gearing' over a three day period in July. The difference between the predicted and actual fraction of tweets against negative gearing was found to be less than 10%. Thus my software package predicts sentiment with reasonable accuracy.</p>
<center><img src="images/tweet_results.png" alt=""  align="middle" /></center>
</div>


</div>	
<div class="post" ng-show="count3">
				<h2 class="title"><i class="fa fa-eye"></i> Portfolio using HTML, Bootstrap and AngularJS</h2>
                         <p class="byline"></p>
<div class="entry">
			<p> <a href="https://pillsbip.github.io">My personal portfolio</a> illustrates my familiarity with HTML, Bootstrap and AngularJS.  This portfolio is a client-side dynamic web page, with the page display determined by the 'project' bar buttons clicked by the user accessing the web page. The page scales and adjusts its display to the size of the screen used to view it.
</div>


</div>	





</div>
</div>


<!--- <div ng-controller="myCtrl">
    <input type="text" ng-change="myFunc()" ng-model="myValue" />
    <p>The input field has changed {{count}} times.</p>
</div> 
-->

<script>
angular.module('myApp', [])
.controller('myCtrl', ['$scope','$rootScope', function($scope,$rootScope) {
    $scope.count = 0; $rootScope.count = 0;$scope.count1 = 0; $rootScope.count1 = 0;$scope.count2 = 0; $rootScope.count2 = 0;$scope.count3 = 0; $rootScope.count3 = 0;
    $scope.count5 = 0;
$scope.count6 = 0;$scope.color6=0;$rootScope.color6=0;
 $rootScope.count5 = 0;
$rootScope.count6 = 0;
$scope.count7 = 0;$rootScope.count7 = 0;$scope.count8 = 0;$rootScope.count8 = 0;
    $scope.myFunc5 = function() {
        $scope.count5=($scope.count5+1)%2;
         $scope.count1 = 0; $scope.count2 = 0;$scope.count3 = 0;$scope.count = 0;$scope.count6 = 0;$scope.count7 = 0;$scope.count8 = 0;
	 $rootScope.count7=$scope.count7;
         $rootScope.count6=$scope.count6;
	 $rootScope.count5=$scope.count5;
           $rootScope.count1=$scope.count1;
        $rootScope.count=$scope.count;
$rootScope.count2=$scope.count2;
$rootScope.count3=$scope.count3;
$rootScope.count8=$scope.count8;
    };
$scope.myFunc7 = function() {
        $scope.count7=($scope.count7+1)%2;
         $scope.count1 = 0; $scope.count2 = 0;$scope.count3 = 0;$scope.count = 0;$scope.count6 =0;$scope.count5 =0;$scope.count8 = 0;
	$rootScope.count7=$scope.count7;
         $rootScope.count6=$scope.count6;
	 $rootScope.count5=$scope.count5;
           $rootScope.count1=$scope.count1;
        $rootScope.count=$scope.count;
$rootScope.count2=$scope.count2;
$rootScope.count3=$scope.count3;
$rootScope.count8=$scope.count8;
    };
$scope.myFunc8 = function() {
        $scope.count8=($scope.count8+1)%2;
         $scope.count1 = 0; $scope.count2 = 0;$scope.count3 = 0;$scope.count = 0;$scope.count6 =0;$scope.count5 =0;$scope.count7 = 0;
	$rootScope.count7=$scope.count7;
         $rootScope.count6=$scope.count6;
	 $rootScope.count5=$scope.count5;
           $rootScope.count1=$scope.count1;
        $rootScope.count=$scope.count;
$rootScope.count2=$scope.count2;
$rootScope.count3=$scope.count3;
$rootScope.count8=$scope.count8;
    };
   $scope.myFunc = function() {
        $scope.count=($scope.count+1)%2;
         $scope.count1 = 0; $scope.count2 = 0;$scope.count3 = 0;$scope.count5 = 0;$scope.count6 = 0;$scope.count7 = 0;$scope.count8 = 0;
	 $rootScope.count7=$scope.count7;
         $rootScope.count6=$scope.count6;
	 $rootScope.count5=$scope.count5;
           $rootScope.count1=$scope.count1;
        $rootScope.count=$scope.count;
$rootScope.count2=$scope.count2;
$rootScope.count3=$scope.count3;
$rootScope.count8=$scope.count8;
    };
    $scope.myFunc1 = function() {
        $scope.count1=($scope.count1+1)%2;
	
         $scope.count = 0; $scope.count2 = 0;$scope.count3 = 0;$scope.count5 = 0;$scope.count6 = 0;$scope.count7 = 0;$scope.count8 = 0;
	 $rootScope.count7=$scope.count7;
	 $rootScope.count5=$scope.count5;
         $rootScope.count6=$scope.count6;
        $rootScope.count1=$scope.count1;
        $rootScope.count=$scope.count;
    $rootScope.count2=$scope.count2;
$rootScope.count3=$scope.count3;
$rootScope.count8=$scope.count8;
};
 $scope.myFunc2 = function() {
        $scope.count2=($scope.count2+1)%2;
         $scope.count = 0; $scope.count1 = 0; $scope.count3 = 0;$scope.count5 = 0;$scope.count6 = 0;$scope.count7 = 0;$scope.count8 = 0;
	 $rootScope.count7=$scope.count7;
         $rootScope.count6=$scope.count6;
	 $rootScope.count5=$scope.count5;
        $rootScope.count2=$scope.count2;
        $rootScope.count=$scope.count;
        $rootScope.count1=$scope.count1;
$rootScope.count3=$scope.count3;
$rootScope.count8=$scope.count8;
    };

 $scope.myFunc3 = function() {
        $scope.count3=($scope.count3+1)%2;
         $scope.count = 0; $scope.count1 = 0; $scope.count2 = 0;$scope.count5 = 0;$scope.count6 = 0;$scope.count7 = 0;$scope.count8 = 0;
	 $rootScope.count7=$scope.count7;
         $rootScope.count6=$scope.count6;
	 $rootScope.count5=$scope.count5;
        $rootScope.count2=$scope.count2;
        $rootScope.count=$scope.count;
        $rootScope.count1=$scope.count1;
$rootScope.count3=$scope.count3;
$rootScope.count8=$scope.count8;
    };
 $scope.myFunc6 = function() {
        
        $scope.count6=($scope.count6+1)%2;
        $scope.count3 = 0;
         $scope.count = 0; $scope.count1 = 0; $scope.count2 = 0;$scope.count5 = 0;$scope.count7 = 0;$scope.count8 = 0;
	 $rootScope.count7=$scope.count7;
         $rootScope.count6=$scope.count6;
	 $rootScope.count5=$scope.count5;
        $rootScope.count2=$scope.count2;
        $rootScope.count=$scope.count;
        $rootScope.count1=$scope.count1;
$rootScope.count3=$scope.count3;
$rootScope.count8=$scope.count8;



    };
}]);
</script>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
